[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/himanshu3006
[access "refs/for/refs/*"]
	read = group user/himanshu3006
	push = group user/himanshu3006
	label-Code-Review = -2..+2 group user/himanshu3006
	label-Verified = -1..+1 group user/himanshu3006
	rebase = group user/himanshu3006
	removeReviewer = group user/himanshu3006
	submit = group user/himanshu3006
[access "refs/heads/*"]
	read = group user/himanshu3006
	create = group user/himanshu3006
	push = +force group user/himanshu3006
	pushMerge = group user/himanshu3006
[access "refs/tags/*"]
	push = group user/himanshu3006
	push = +force group user/himanshu3006
